{% extends 'layout.html' %} {% block body %}
<div class="about text-dark text-center jumbotron">
	<h3>About the Website</h3>
	<h5>
		As a college students I<a href="https://www.linkedin.com/in/deeksha-pandey-40a873246"></a> always thought I must track my expenses and make sure I spend it on the right
		things.That's what sparked the idea of this expense tracker app.This app helps you track your daily expenses.You can feed in your expenses in this app and refer to the expenses you
		made throughout the day,month and even year.
	</h5>
	<h5>
	</h5>
	<h5>It gives you a month-wise total of your expenses and helps you compare your monthly expenses.</h5>
</div>
<div class="team text-light text-center">
	<h3>About Me!</h3>
	<div class="cards d-inline">
		<div class="card mb-3 float-left card-1">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img src="../static/dp.png" class="card-img" alt="..." />
				</div>
				<div class="col-md-6 text-dark">
					<div class="card-body text-center">
						<h4 class="card-title">Hello!!</h4>
						<p class="card-text">
							I am a passionate data science enthusiast with a keen interest in transforming data into actionable insights. With a strong foundation in statistics, programming, and machine learning, I thrive on solving complex problems and uncovering patterns within data.My journey in data science has been fueled by a curiosity to understand the world through data, and I continuously seek to expand my knowledge and skills in this ever-evolving field. Whether it's through analyzing datasets, building predictive models, or visualizing data to tell compelling stories, I am dedicated to leveraging data to drive impactful decisions and innovations.
						</p>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
